/* No files to import found in abstractions/**\/* */
/* line 2, ../sass/base/_cvc_layout.scss */
.l-header {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
  /* line 5, ../sass/base/_cvc_layout.scss */
  .l-header .l-first-header {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 7, ../sass/base/_cvc_layout.scss */
    .l-header .l-first-header .l-navigation {
      width: 66.10169%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 11, ../sass/base/_cvc_layout.scss */
    .l-header .l-first-header .l-social {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
  /* line 16, ../sass/base/_cvc_layout.scss */
  .l-header .l-second-header {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 18, ../sass/base/_cvc_layout.scss */
    .l-header .l-second-header .l-header-branding {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
  /* line 25, ../sass/base/_cvc_layout.scss */
  .l-header .l-third-header {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
    /* line 27, ../sass/base/_cvc_layout.scss */
    .l-header .l-third-header .l-nav_cont {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }

/* line 34, ../sass/base/_cvc_layout.scss */
.l-highlighted-wrapper {
  margin: 0 10px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 41, ../sass/base/_cvc_layout.scss */
.l-main {
  margin: 0 10px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 46, ../sass/base/_cvc_layout.scss */
.l-content {
  margin: 0 10px;
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 51, ../sass/base/_cvc_layout.scss */
.l-sidebar {
  margin: 0 10px;
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 57, ../sass/base/_cvc_layout.scss */
.l-bottom {
  margin: 0 10px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 61, ../sass/base/_cvc_layout.scss */
.l-bottom_first {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 65, ../sass/base/_cvc_layout.scss */
.l-bottom_second {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 33.89831%;
  clear: none; }

/* line 69, ../sass/base/_cvc_layout.scss */
.l-bottom_third {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 76, ../sass/base/_cvc_layout.scss */
.l-footer {
  margin: 0 10px;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 25, ../sass/cvc-chile.styles.scss */
body {
  margin-left: 10%;
  margin-right: 10%; }

/*# sourceMappingURL=cvc-chile.no-query.css.map */
