.l-main--cvc {
    background: white none repeat scroll 0 0;
    border-bottom: 2px solid gray;
    border-radius: 5%;
    border-right: 2px solid gray;
    clear: none;
    float: right;
    margin-bottom: 1em;
    opacity: 0.9;
    padding: 2em 1em;
    width: 100%;
}