//Menus navegación y redes sociales


///LOGO y Banner
.l-second-header{
	position: relative;
	max-height: 200px;
	margin-bottom: 10px;
	.banner-cvc-block{
		z-index: 1;
		img{
			width: 100%;
		}
	}

	.logo-cvc-block{
	    position: relative;
	    top: -14em;
	    z-index: 2;
	}
}


//