.l-region--highlighted{
	position: relative;
	margin-bottom: 2em;
	margin-top: 2em;
	.destacado{
		max-height: 28em;
		.imagen {
	    	z-index: 1;
			img{		
				width: 100%;
				border-bottom: 2px solid gray;
			    border-radius: 1em;
			    border-right: 2px solid gray;
			}
		}
		.titulo {
		    background: black none repeat scroll 0 0;
		    font-family: Pacifico;
		    font-size: 3.5em;
		    height: 6em;
		    padding: 0.5em;
		    line-height: 1em;
		    position: relative;
		    top: -7em;
		    width: 40%;
		    z-index: 2;
		    a{
	    	    color: mediumaquamarine;
	    	    text-decoration: none;
		    }
		}
	}

}