//Encabezado
.l-header--cvc{
	@include grid-span(12,1);

	.l-first-header{
		@include grid-span(12,1);
		.l-navigation{
			@include grid-span(8,1);

		}
		.l-social{
			@include grid-span(4,9);
		}
	}

	.l-second-header{
		@include grid-span(12,1);
		.l-header{
			@include grid-span(12,1);
		}

	}

	.l-third-header{
		@include grid-span(12,1);
		.l-nav_cont{
			@include grid-span(12,1);
		}
	}
}
//Destacados

.l-highlighted-wrapper--cvc{
	@include grid-span(12,1);

}
//Content

.l-main--cvc{
	@include grid-span(12,1);
	.l-mean{
	@include grid-span(12,1);
	.l-content
	{
		@include grid-span(8,1);
	}
	.l-sidebar
	{
		@include grid-span(4,9);
	}}
}

//bottom
.l-bottom--cvc{
	@include grid-span(12,1);
	.l-bottom_first{
		@include grid-span(4,1);

	}
	.l-bottom_second{
		@include grid-span(4,5);

	}
	.l-bottom_third{
		@include grid-span(4,9);

	}
}

//footer

.l-footer--cvc{
	@include grid-span(12,1);

}