//espacio:
.espacio--cvce{
	@include grid-span(12,1);	
}
//Encabezado
.l-header--cvc_encuentro{
	@include grid-span(5,1);

	.l-first-header--cvce{
		@include grid-span(12,1);
		.l-header--cvce{
			@include grid-span(10,2);
		}
	}
	.l-second-header--cvce{
	
		@include grid-span(12,1);
		.l-navigation--cvce{
			@include grid-span(8,3);

		}
		.l-social--cvce{
			@include grid-span(8,3);
		}
	}

}

//Content

.l-main--cvc_encuentro{
	margin: 0 10px;
	@include grid-span(7,6);
	//Destacados

	.l-highlighted-wrapper--cvc_encuentro{
		margin: 0 10px;
		@include grid-span(12,1);

	}

	.l-nav_cont--cvce{
	@include grid-span(12,1);
	}
	.l-content--cvce{
		margin: 0 10px;
		@include grid-span(12,1);
	}
//bottom
.l-bottom--cvc_encuentro{
	margin: 0 10px;
	@include grid-span(12,1);
	.l-bottom_first--cvce{
		@include grid-span(4,1);

	}
	.l-bottom_second--cvce{
		@include grid-span(4,5);

	}
	.l-bottom_third--cvce{
		@include grid-span(4,9);

	}}
	//footer
	.l-footer--cvc_encuentro{
		margin: 0 10px;
		@include grid-span(12,1);

	}
}
